{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<h2>App state</h2>
<ul class="">
	{%- for repository_type in page_data.state.repositories -%}
		{%- if page_data.state.active_repository == repository_type -%}
	<li><a class="selected" href="{{ page_data.state.repositories[repository_type] }}">{{ repository_type }}</a></li>
		{%- else -%}
	<li><a href="{{ page_data.state.repositories[repository_type] }}">{{ repository_type }}</a></li>
		{%- endif -%}
	{% endfor %}
</ul>
<dl class="app-state">
	<dt>Uptime:</dt>
	<dd>{{ page_data.state.uptime }}</dd>

{%- if page_data.state.page_view_mode == 'task_overview' -%}
	<dt>Last tasks:</dt>
	<dd>
		<table class="scrap-results">
			<tr>
				<th>#id</th>
				<th>Task</th>
				<th>Status</th>
				<th>Age</th>
				<th>Time Taken</th>
				<th>Items succ/fail</th>
				<th>Error type</th>
{#				<th>Error message</th>#}
			</tr>
			{%- for task in page_data.state.tasks -%}
			<tr class="state-{{ task.status }} task-{{ task.task_class }}">
				<td><a href="{{- page_data.state.task_detail_link_base ~ task.pk_id ~ '/' -}}">{{ task.pk_id }}</a></td>
				<td style="white-space: nowrap;">{{ task.task_def_html|safe }}</td>
				<td>{{ task.status }}</td>
				<td style="white-space: nowrap;">{{ task.age }}</td>
				<td style="white-space: nowrap;">{{ task.time_taken }}</td>
				<td style="white-space: nowrap;">
					<span class="success_count">{{ task.item_count_success }}</span>
					/ <span class="fail_count">{{ task.item_count_fail }}</span>
					~ <span class="succcess_percent">{{ task.success_percentage }}</span>
				</td>
				<td>{{ task.exception_type }}</td>
{#				<td>{{ task.exception_value }}</td>#}
			</tr>
			{% endfor %}
		</table>
	</dd>
{%- elif page_data.state.page_view_mode == 'task_detail' -%}
	<dt>Task header</dt>
	<dd>
		<table class="scrap-results">
			<tr><th>#id</th><td>{{ page_data.state.task.pk_id }}</td></tr>
			<tr><th>Task class</th><td style="white-space: nowrap;">{{ page_data.state.task.task_class }}</td></tr>
			<tr><th>Task type</th><td style="white-space: nowrap;">{{ page_data.state.task.task_type }}</td></tr>
			<tr><th>State</th><td>{{ page_data.state.task.status }}</td></tr>
			<tr><th>Age</th><td style="white-space: nowrap;">{{ page_data.state.task.age }}</td></tr>
			<tr><th>Time Taken</th><td style="white-space: nowrap;">{{ page_data.state.task.time_taken }}</td></tr>
			<tr><th>Items succeeded/failed</th><td style="white-space: nowrap;">
					<span class="success_count">{{ page_data.state.task.item_count_success }}</span>
					/ <span class="fail_count">{{ page_data.state.task.item_count_fail }}</span>
					~ <span class="succcess_percent">{{ page_data.state.task.success_percentage }}</span>
				</td>
			</tr>
			<tr><th>Error type</th><td>{{ page_data.state.task.exception_type }}</td></tr>
			<tr><th>Error message</th><td style="white-space: pre-line;">{{ page_data.state.task.exception_value }}</td></tr>
		</table>
	</dd>
	<dt>Items</dt>
	<dd>
		<table class="scrap-results">
			<tr>
				<th>#id</th>
				<th>State</th>
				<th>Age</th>
				<th>Time taken</th>
				<th>Item name</th>
				<th>Destination path</th>
				<th>Error type</th>
				<th>Error message</th>
				<th>Sync status</th>
				<th>Sync ref id</th>
			</tr>
			{%- for task_item in page_data.state.task_items|reverse -%}
			<tr class="state-{{ task_item.status }}">
				<td>{{ task_item.pk_id }}</td>
				<td>{{ task_item.status }}</td>
				<td style="white-space: nowrap;">{{ task_item.age }}</td>
				<td style="white-space: nowrap;">{{ task_item.time_taken }}</td>
				<td>{{ task_item.item_name }}</td>
				<td>{{ task_item.destination_path }}</td>
				<td>{{ task_item.exception_type }}</td>
				<td>{{ task_item.exception_value }}</td>
				<td>{{ task_item.sync_status }}</td>
				<td>{{ task_item.ref_id }}</td>
			</tr>
			{% endfor %}
		</table>
	</dd>
{%- endif -%}
</dl>
{% endblock %}